html {
    background-color: #000;
    color: hsla(226, 100%, 70%, 1);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

table td {
    overflow: hidden;
}

table .container {
    height: 50px;
}

table tr {
    border: 1px solid;
}